<div class="profiles">
  <div class="profile">
    <img class="profile-pic" src="/images/anirudh_facebook.jpeg" />
    <div class="profile-text">
      <span>Anirudh Suresh</span>
      <a href = "https://www.github.com/anirudhs96"> <img class="profile-icon" src="/images/github.svg" /> </a>
    </div>
  </div>
  <div class="profile">
    <img class="profile-pic" src="/images/prijindal_facebook.jpeg" />
    <div class="profile-text">
      <span>Priyanshu Jindal</span>
      <a href = "https://www.github.com/prijindal"> <img class="profile-icon" src="/images/github.svg" /> </a>
    </div>
  </div>
</div>
