<!-- Footer-widgets -->
<div class="footer-widgets">
  <div class="row inside-wrapper">
    <div class="col-1-2">
      <aside>
        <a href="<%= url_for('/contact/') %>" rel="contact">
          <h1 class="widget-title"><%- __('contact') %></h1>
        </a>
        <div class="widget-text">
          <% if (config.social) { %>
            <% _.forIn(config.social, function(val, key){ %>
              <a href="<%- val %>" class="icon icon-<%- key %>" target="_blank" rel="noopener"><%- key %></a>
            <% }) %>
          <% } %>
        </div>
      </aside>
    </div>
    <div class="col-1-2">
      <aside>
        <label for="homeSearchInput">
          <h1 class="widget-title"><%- __('search') %></h1>
        </label>
        <div class="widget-text">
          <form onSubmit="return appDaily.submitSearch('<%- config.search_engines %>')">
            <p>
              <input type="text" placeholder="search..." id="homeSearchInput">
            </p>
            <!-- <input type="submit" value="GO"> -->
          </form>
        </div>
      </aside>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="site-info">
  <p>
    <span><%- config.title %> &copy; <%= (new Date()).getFullYear() %></span>
    <% if(config.footer !== null) { %>
      <span class="split">|</span>
      <span><%- config.footer || theme.footer %></span>
    <% } %>
  </p>
</footer>

<%if (page.comments){ %>
<%if (config.disqus_shortname){ %>
<script>
  var disqus_shortname = '<%= config.disqus_shortname %>';

  <% if (page.permalink){ %>
  var disqus_url = '<%= page.permalink %>';
  <% } %>

  (function(){
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments) { %>embed.js<% } else { %>count.js<% } %>';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<% } %>
<% } %>
