<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!--Description-->
  <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>">
  <% } %>

  <!--Author-->
  <% if (config.author){ %>
  <meta name="author" content="<%= config.author %>">
  <% } %>

  <!--Open Graph Title-->
  <% if (page.title){ %>
      <meta property="og:title" content="<%= page.title %>"/>
  <% } else { %>
      <meta property="og:title" content="<%= config.title %>"/>
  <% } %>
  <!--Open Graph Description-->
  <% if (page.description){ %>
      <meta property="og:description" content="<%= page.description %>" />
  <% } else if (config.description) { %>
      <meta property="og:description" content="<%= config.description %>" />
  <% } %>
  <!--Open Graph Site Name-->
  <meta property="og:site_name" content="<%= config.title %>"/>
  <!--Type page-->
  <% if(page.title) { %>
      <meta property="og:type" content="article" />
  <% } else { %>
      <meta property="og:type" content="website" />
  <% } %>
  <!--Page Cover-->
  <% if (page.share_cover) { %>
      <meta property="og:image" content="<%= config.url %><%= page.share_cover %>" />
  <% } else if (config.cover) { %>
      <meta property="og:image" content="<%= config.url %><%= config.cover %>"/>
  <% } %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Title -->
  <%
  var title = [];
  if (page.title) title.push(page.title);
  if (page.category) title.push(page.category);
  if (page.tag) title.push(page.tag);
  if (page.archive) {
      if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
      else title.push(__('archive_a'));
  }
  title.push(config.title);
  if (is_home() && config.subtitle) title.push(config.subtitle);
  %>
  <title><%= title.join(' - ') %></title>

  <%if (config.favicons) { %>

  <link rel="apple-touch-icon" sizes="180x180" href="<%- url_for(config.favicons.appletouch) %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%- url_for(config.favicons.favicon32) %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%- url_for(config.favicons.favicon16) %>">
  <link rel="mask-icon" href="<%- url_for(config.favicons.safaripinned) %>" color="#<%- config.favicons.safaricolor %>">
  <link rel="shortcut icon" href="<%- url_for(config.favicons.main) %>">
  <meta name="msapplication-TileColor" content="#<%- config.favicons.tilecolor %>">
  <meta name="msapplication-config" content="<%- url_for(config.favicons.browserconfig) %>">
  <meta name="theme-color" content="#<%- config.favicons.themecolor %>">

  <% } %>
  <link rel="manifest" href="<%- url_for(config.manifest) %>">

  <%if (config.google_analytics) { %>
  <!-- Google Analytics -->
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', '<%= config.google_analytics %>', 'auto');
  
  ga('require', 'cleanUrlTracker');
  ga('require', 'eventTracker');
  ga('require', 'outboundLinkTracker');
  ga('require', 'pageVisibilityTracker');

  ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.4.1/autotrack.js"></script>
  <% } %>

  <!-- Custom CSS/Sass -->
  <%- css('css/style') %>
  <%- css('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Lato') %>
  <script async src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
