<%- css('css/contact.css') %>
<div class="content-area">
  <div class="contact">
    <div class="container">
      <form id="contact-form">
        <p>My
          <label for="your-name">name</label> is
          <input type="text" name="your-name" id="your-name" minlength="3" placeholder="(your name here)" required> and</p>

        <p>my
          <label for="email">email address</label> is
          <input type="email" name="your-email" id="email" placeholder="(your email address)" required>
        </p>

        <p> I have a
          <label for="your-message">message</label> for you,</p>

        <p>
          <textarea name="your-message" id="your-message" placeholder="(your msg here)" class="expanding" required></textarea>
        </p>
        <p>
          <button
            ga-on="click"
            ga-event-category="Contact"
            ga-event-action="submit"
            ga-event-label="Email"
            type="submit"
            class="button">
            Send
          </button>
        </p>
      </form>
    </div>
    <div id="submittedDialog" class="modal">
    <!-- Modal content -->
      <div class="modal-content">
        <span class="close" id="closeBtn">&times;</span>
        <p>
          Thank You for your response
        </p>
      </div>

    </div>
  </div>
</div>

<%- js('https://code.jquery.com/jquery-3.3.1.slim.min.js') %>
<%- js('js/contact.js') %>
<%- js('https://smtpjs.com/v2/smtp.js') %>
