<%- css('css/home.css') %>
<div class="content-area">
  <div class="home">
    <!-- Post Content -->
    <div class="">
      <div class="flex-row inside-wrapper headers section">
        <div class="">
          <i class="fas fa-code"></i>
          <h2>Machine Learning</h2>
          <p>
            Generate Machine Learning code instantly using our Code Generator.
          </p>
          <a class="button" href="<%= url_for('/machine-learning/') %>">
            Learn more
          </a>
        </div>
        <div class="">
          <i class="fab fa-github"></i>
          <h2>Contribute</h2>
          <p>
            The Easy Code Project is open source. We are looking for enthusiastic developers to contribute to this initiative.
          </p>
          <a class="button" href="<%= url_for('/contribute/') %>">
            Learn more
          </a>
        </div>
        <div class="">
          <i class="far fa-envelope"></i>
          <h2>Susbcribe</h2>
          <p>
            Subscribe to our mailing list to stay updated about this initiative. We won't spam!
          </p>
          <p id="subscribeSubmitted">
            Thank you for subscribing.
          </p>
          <form class="widget-text" method="post" id="subscribe">
            <p>
              <input type="email" name="email"/>
              <button 
                ga-on="click"
                ga-event-category="Contact"
                ga-event-action="submit"
                ga-event-label="Subscribe"
                type="submit"
                class="button"
                href="<%= url_for('/contribute/') %>">
                Subscribe
              </button>
            </p>
          </form>
        </div>
      </div>
      <div class="flex-row inside-wrapper about section">
        <div class="about-text">
          <h2>
            About Easy Code Club
          </h2>
          <p>
            Now a days, Machine Learning is used everywhere, from recommending books to predicting stocks. Machine Learning is extensively used in research, practically in every STEM field. We at Easy Code Club would like to make Machine Learning accessable to everyone. This initiative is meant for researchers, teachers and students without a profecient programming background. Using our Code Generator, anyone can implement machine learning algorithms without having to take the effort to learn programming.
          </p>
        </div>
        <div class="post-header">
          <img src="/icons/logo.svg" alt="<%- page.title %>" class="attachment-post-thumbnail">
        </div>
      </div>
    </div>
  </div>
</div>
<%- js('js/home.js') %>
