<!DOCTYPE html>
<html lang="<%= config.language ? config.language : 'en' %>">

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>


  <%if (!page.blank){ %>
    <!-- Nav -->
    <%- partial('_partial/nav') %>
  <% } else { %>
    <!-- Nav -->
    <%- partial('_partial/mini-nav') %>
  <% } %>

  <!-- Main Content -->
  <%- body %>

  <%if (!page.blank){ %>
    <!-- Footer -->
    <%- partial('_partial/footer') %>
  <% } %>

  <!-- After footer scripts -->
  <%- partial('_partial/after-footer') %>

</body>

</html>
