<%- css('https://cdn.muicss.com/mui-0.9.36/css/mui.min.css') %>
<%- css('css/machine-learning.css') %>
<div class="machine-learning">
  <div class="flex-row content-area">
      <div class="ml-panel ml-panel-form">
        <form class="mui-form mui-panel" id="generator-form">
          <%# <legend>Title</legend> %>
          <div class="mui-select">
            <label>Problem Type</label>
            <select required name="problemtype" id="problemtype">
              <option value="regression">Regression</option>
              <option value="classification">Classification</option>
            </select>
          </div>
          <div class="mui-select">
            <label>Method</label>
            <select required name="method" id="method">
              <option value="neuralnetwork">Neural Networks</option>
              <option value="supportvector">Support Vector Machine</option>
            </select>
          </div>
          <div class="mui-form--inline">
            <div class="mui-textfield mui-textfield--float-label">
              <input type="number" value="3" name="inputs" required id="inputs" min="1">
              <label>No. of Inputs</label>
            </div>
            <div class="mui-textfield mui-textfield--float-label">
              <input type="number" value="2" name="outputs" required id="outputs" min="1">
              <label>No. of Outputs</label>
            </div>
          </div>
          <div class="mui-textfield mui-textfield--float-label neuralnetwork-input">
            <input type="number" value="1" name="hiddenlayers" id="hiddenlayers" min="0">
            <label>Hidden Layers</label>
          </div>
          <div id="hiddenlayers-selector" class="neuralnetwork-input">
            <div class="mui-textfield mui-textfield--float-label">
              <input type="number" value="5" name="hiddenlayer0" required id="hiddenlayer0" min="0">
              <label>1st</label>
            </div>
          </div>
          <div class="mui-select neuralnetwork-input">
            <label>Optimizer</label>
            <select required name="optimizer" id="optimizer">
              <option value="SGD">Stochastic Gradient Descent</option>
              <option value="Adam">Adam</option>               
              <option value="RMSprop">RMSProp</option>
            </select>
          </div>
          <div class="mui-select neuralnetwork-input">
            <label>Loss Function</label>
            <select required name="loss_function" id="loss_function">
              <option value="mean_squared_error">Mean Squared Error</option>
              <option value="mean_absolute_error">Mean Absolute Error</option>
              <!-- <option value="mean_absolute_percentage_error">Mean Absolute Percentage Error</option> -->
              <!-- <option value="mean_squared_logarithmic_error">Mean Squared Logarithmic Error</option> -->
              <option value="hinge">Hinge</option>
              <!-- <option value="squared_hinge">Squared Hinge</option> -->
              <!-- <option value="categorical_hinge">Categorical Hinge</option> -->
              <option value="logcosh">Log cosh</option>
              <option value="sparse_categorical_cross_entropy">Cross Entropy</option>
              <option value="kullback_leibler_divergence">Kullback Lieber Divergence</option>
              <option value="poisson">Poisson</option>
              <option value="cosine_proximity">Cosine Proximity</option>
            </select>
          </div>
          <div class="mui-select supportvector-input">
            <label>Kernel Function</label>
            <select required name="kernel" id="kernel">
              <option value="linear">Linear</option>
              <option value="poly">Polynomial</option>
              <option value="rbf">Radius Basis Function (RBF)</option>
              <option value="sigmoid">Sigmoid</option>
              <option value="precomputed">Precomputed</option>
            </select>
          </div>
          <button
            type="submit"
            class="mui-btn mui-btn--raised"
            ga-on="click"
            ga-event-category="Generator"
            ga-event-action="submit"
            ga-event-label="Machine Learning"
          >Generate</button>
        </form>
      </div>
      <div class="ml-panel" id="code-container">
        <div id="loading">
          <i class="spinner"></i>
        </div>
      </div>
    </div>
</div>
<%- js('https://cdn.muicss.com/mui-0.9.36/js/mui.min.js') %>
<%- js('https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.10.1/min/vs/loader.js') %>
<%- js('js/machine-learning.js') %>
