<%
var isFullUrl = function(str) {
  return /^(https:|http:|ftp:)?\/\//.test(str);
};
%>

<div class="content-area">
  <div class="post">
    <!-- Post Content -->
    <div class="container">
      <article>
        <!-- Title date & tags -->
        <div class="post-header">
          <% if (page.photos && page.photos.length) { %>
            <% var thumb = page.photos[0]; %>
            <% var thumbUrl = isFullUrl(thumb) ? thumb : url_for(thumb) %>

            <img src="<%- thumbUrl %>" alt="<%- page.title %>" class="attachment-post-thumbnail">
          <% } %>
          <% if(page.title) { %>
            <h1 class="entry-title">
              <%- page.title %>
              <% if (page.subtitle && page.subtitle.length) { %>
                <p><%- page.subtitle %></p>
              <% } %>
            </h1>
          <% } %>
          <% if(page.showDate) { %>
          <p class="posted-on">
          <%= page.date.format(config.date_format) %>
          </p>
          <% } %>
          <div class="tags-links">
            <% if (page.tags) { %>
              <% page.tags.each(function(tag){ %>
                <a href="<%= config.root %>tags/<%= tag.name %>/" rel="tag">
                  <%- tag.name %>
                </a>
              <% }); %>
            <% } %>
          </div>
        </div>
        <!-- Post Main Content -->
        <div class="entry-content">
          <%- page.content %>
        </div>
      </article>
    </div>
    <!-- Comments -->
    <div class="container">
      <% if (page.comments) { %>
        <%- partial('_partial/comment', {
            shortname: config.disqus_shortname
          }) %>
      <% } %>
    </div>
    <!-- Pre or Next -->
    <div class="nav-links">
      <% if (page.prev) { %>
        <div class="nav-previous">
          <a href="<%- config.root %><%- page.prev.path %>" rel="prev"><span class="meta-arraw meta-arraw-left"></span> <%- __('prev')%></a>
        </div>
      <% } %>
      <% if (page.next) { %>
        <div class="nav-next">
          <a href="<%- config.root %><%- page.next.path %>" rel="prev"><%- __('next')%> <span class="meta-arraw meta-arraw-right"></span></a>
        </div>
      <% } %>
    </div>

  </div>
</div>
