.site-header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 50px;
  padding-right: 50px;
  height: 70px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &.small {
    height: 48px;
    .logo a img {
      height: 32px;
    }
  }
  .button-wrap {
    display: none;
    float: right;
    padding-top: $nav-padding-top;
  }
  .menu-toggle {
    width: 20px;
    height: 20px;
    background: url("../images/menu.svg") center no-repeat;
    text-indent: -99999px;
    overflow: hidden;
    border: none;
    box-shadow: none;
    outline: none;
    opacity: 0.25;
  }
}
.header-inside {
  display: table;
  height: 100%;
  width: 100%;
}
.logo {
  display: table-cell;
  vertical-align: middle;
  a {
    display: inline-block;
    img {
      display: block;
      height: $header-height - 10px;
    }
  }
}
.small {
  .navbar {
    $nav-padding-top: 12px;
    padding-top: $nav-padding-top;
  }
}
.navbar {
  float: right;
  padding-top: $nav-padding-top;
  ul {
    &:after {
      content: '';
      display: block;
      clear: both;
      height: 0;
      visibility: hidden;
    }
    li {
      position: relative;
      float: left;
      margin-left: 20px;
      a {
        text-decoration: none;
        line-height: 1.5;
        font-weight: 700;
        font-family: -apple-system, BlinkMacSystemFont,"Helvetica Neue","PingFang-SC-Regular","STHeiti", "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei";
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.navbar ul li:before {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  width: 0%;
  height: 1px;
  background: #7e7e7e;
  display: block;
  -webkit-transition: width 0.25s ease;
  transition: width 0.25s ease;
}
.navbar ul li:hover:before {
  width: 100%;
}
