// colors
$color-title: #000;
$color-text: #453f3c;;
$grey-border: #dcdcdc;

// lenght
$header-height: 70px;
$nav-padding-top: 25px;
$container-width: 600px;
$inside-wrapper-width: 920px;
$icon-size: 20px;
