.contact {
  font-family: 'Lato', georgia;
  font-size: 18px;
  // background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.95);
  text-align: center;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  #contact-form {
    max-width: 90%;
    margin: 0 auto;
  }
  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 30; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

      /* Modal Content/Box */
      .modal-content {
          background-color: #fefefe;
          margin: 15% auto; /* 15% from the top and centered */
          padding: 20px;
          border: 1px solid #888;
          width: 80%; /* Could be more or less, depending on screen size */
      }

      /* The Close Button */
      .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
      }

      .close:hover,
      .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
      }
  }

  label {
    font-weight: 400;
    cursor: pointer;
  }

  textarea,
  input {
    border: none;
    outline: none;
    border-radius: 0;
    text-align: center;
    background: none;
    font-weight: 700;
    font-family: 'Lato', georgia;
    font-size: 18px;
    // color: rgba(236, 181, 62, 0.95);
    max-width: 90%;
    padding: 1rem;
    border: 2px dashed rgba(0, 0, 0, 0);
    box-sizing: border-box;
    cursor: text;
  }

  textarea {
    text-align: left;
    /* overflow:hidden; */

    resize: none;
    width: 90%;
    border-color: rgba(0, 0, 0, 0)
  }

  textarea:focus {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px dashed rgba(0, 0, 0, 1);
  }

  textarea:focus:required:valid {
    border: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }

  textarea:required:valid {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }

  input {
    border-bottom: 2px dashed rgba(0, 0, 0, 0.5);
  }

  input:required,
  textarea:required {
    border-bottom: 2px dashed rgba(0, 0, 0, 0.5);
  }

  input:focus {
    border-bottom: 2px dashed rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.2);
  }

  input:required:valid {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }

  input:required:invalid {
    color: rgba(0, 0, 0, 0.5);
  }

  ::-webkit-input-placeholder {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
    font-weight: 400;
  }

  :-moz-placeholder {
    /* Firefox 18- */

    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
    font-weight: 400;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */

    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
    font-weight: 400;
  }

  :-ms-input-placeholder {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
    font-weight: 400;
  }

  .expanding {
    vertical-align: top;
  }

  .send-icn {
    fill: rgba(0, 0, 0, 1)
  }

  .send-icn:hover {
    fill: rgba(0, 0, 0, 1);
    cursor: pointer;
  }
}
