$section-width: 240px;
.home {
  .flex-row {
    justify-content: space-between;
    // padding-bottom: 20px;
  }
  .headers {
    > div {
      margin-top: 20px;
      @media screen and (max-width: 767px) {
        margin: 20px auto 0;
      }
      min-width: $section-width;
      max-width: $section-width;
    }
    .svg-inline--fa,img,i {
      color: #453f3c;
      width: 100px;
      height: 100px;
      display: block;
      margin: 0 auto 40px;
    }
  }
  .about {
    .about-text {
      flex: 1 1;
      margin-right: 40px;
      @media screen and (max-width: 767px) {
        margin-right: 0;
      }
    }
    .post-header {
      margin: 0 auto;
      img {
        width: $section-width;
        padding-top: 25px;
      }
    }
  }
  .section {
    // margin-bottom: 40px;
  }
  .upcoming.section {
    h2 {
      text-align: right;
    }
  }
  #subscribeSubmitted {
    display: none;
  }
}
