.machine-learning {
  height: 100%;
  // max-width: 920px;
  margin: 0 auto;
  .content-area {
    // padding-top: 5%;
    height: 80%;
    // max-height: 500px;
    margin: 0 20px;
    @media screen and (max-width: 767px) {
      // display: block;
      margin: 0;
      padding: 0;
    }
  }
  .ml-panel {
    min-height: 100%;
    // width: 50%;
    flex: 0 0 auto;
    &.ml-panel-form {
      min-width: 45%;
      width: 45%;
      @media screen and (max-width: 767px) {
        min-width: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      padding: 0 20px;
      // overflow-y: scroll;
      .mui-panel {
        width: 100%;
        overflow-y: auto;
        height: 100%;
        @media screen and (max-width: 767px) {
          width: initial;
        }
      }
    }
    &#code-container {
      flex: 1 1 auto;
      .monaco-editor.vs {
        width: initial !important;
        height: 100% !important;
        .overflow-guard {
          width: initial !important;
          height: 100% !important;
        }
      }
      pre {
        // text-align: left;
        width: 100vw;
        overflow: scroll;
      }
    }
  }

  $loading-size: 160px;
  #loading {
    margin-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .spinner {
      width: $loading-size;
      /* height: 240px; */
      font-size: $loading-size;
      text-align: center;
      margin: 0 auto;
      display: block;
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
    }
    @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
    }
  }
  .mui-form--inline {
    .mui-textfield {
      margin-right: 10px;
    }
    margin-bottom: 20px;
  }
  #hiddenlayers-selector {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .mui-textfield {
      width: 50px;
      padding-right: 10px;
    }
  }
}
